.section-1 {
    background: $blue-purple;
    height: 700px;
    width: 100%;

    h1 {
        font-weight: 700;
        color: #ffffff;
        font-size: 64px;
        margin-bottom: 2rem;
    }

    p {
        color: #ffffff;
        font-size: 24px;
    }

    button {
        color: $purple !important;
    }
}

.section-2 {
    background: $main-white;
    height: 600px;
    width: 100%;
    margin-top: 1.5rem;

    h3 {
        font-weight: 700;
        color: $purple;
        font-size: 28px;
        margin-bottom: 0.5rem;
    }

    p {
        color: #0e0c28;
        font-size: 28px;
    }

    .test {
        overflow-x: scroll;
    }

    .item-1 {
        height: 16rem;
        width: 14rem;
        background: $purple;

        p {
            font-size: 20px;
            color: $main-white;
        }
    }
    .item-2 {
        height: 16rem;
        width: 14rem;
        background: #43196f;

        p {
            font-size: 20px;
            color: $main-white;
        }
    }
    .item-3 {
        height: 16rem;
        width: 14rem;
        background: $main-blue;

        p {
            font-size: 20px;
            color: $main-white;
        }
    }
}

@media only screen and (max-width: 600px) {
    .section-1 {
        height: 1100px;
    }

    h1 {
        font-size: 42px;
        padding: 20px;
    }

    p {
        font-size: 16px;
        padding: 20px;
    }

    a {
        padding: 20px;
    }

    .section-2 {
        height: 1100px;
    }
}
