.section-1 {
    background: $blue-purple;
    height: 650px;
    width: 100%;
    //margin-top: 1.5rem;

    h1 {
        font-weight: 700;
        color: #ffffff;
        font-size: 64px;
        margin-bottom: 2rem;
    }

    p {
        color: #ffffff;
        font-size: 24px;
    }

    button {
        color: $purple !important;
    }

    .item-1 {
        margin-top: 148px;
    }

    .item-2 {
        margin-top: 148px;
    }
}

// section 2
.section-2 {
    background: $main-white;
    height: 525px;
    width: 100%;
    //margin-top: 1.5rem;

    .test {
        overflow: hidden;
    }

    a {
        text-decoration: none;
    }
    a:hover {
        p {
            color: #d5d5d5;
            transition: 0.3s;
        }
    }

    h3 {
        font-weight: 700;
        color: $purple;
        font-size: 28px;
        margin-bottom: 0.5rem;
    }

    p {
        color: #0e0c28;
        font-size: 28px;
    }

    .item-1 {
        height: 16rem;
        width: 14rem;
        background: $purple;

        p {
            font-size: 20px;
            color: $main-white;
        }
    }
    .item-2 {
        height: 16rem;
        width: 14rem;
        background: #43196f;

        p {
            font-size: 20px;
            color: $main-white;
        }
    }
    .item-3 {
        height: 16rem;
        width: 14rem;
        background: $main-blue;

        p {
            font-size: 20px;
            color: $main-white;
        }
    }
}

// section 3
.section-3 {
    background: $dark-blue;
    height: 600px;
    width: 100%;

    h1 {
        font-weight: 700;
        color: #ffffff;
        font-size: 64px;
        margin-bottom: 2rem;
    }

    p {
        color: #ffffff;
        font-size: 24px;
    }

    .item-1 {
        margin-top: 148px;
    }

    .item-2 {
        margin-top: 148px;
    }
}

@media only screen and (max-width: 600px) {
    .section-1 {
        height: 1100px;
    }

    h1 {
        font-size: 42px;
        //padding: 20px;
    }

    h3 {
        //padding: 20px;
    }

    p {
        font-size: 16px;
        //padding: 20px;
    }

    a {
        //padding: 20px;
    }

    .section-2 {
        // height: 1100px;

        .test {
            flex-wrap: nowrap !important;
            z-index: 9 !important;
            overflow-x: scroll !important;
        }
    }
}
