.conversation-sidebar {
    min-height: calc(100vh - 56px);
}

.search-conversation-input {
    outline: 1px solid $main-blue !important;
    border: 1px solid $main-blue !important;
}

.conversation-sidebar-username:hover {
    cursor: pointer;
}

.conversation-sidebar-photo {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.conversation-message-time {
    font-size: 0.8rem;
}

.conversation-input input {
    width: 73%;
    position: fixed;
    border-radius: 8px;
    padding: 0.4rem;
    bottom: 1rem;
    margin: 1rem;
    // overflow-x: hidden;
    // overflow-y: scroll;
}

@media only screen and (max-width: 768px) {
    .conversation-input input {
        width: 95%;
    }
}
