.private-profile-main-container {
    height: calc(100vh - 56px);
}

.private-profile-sidebar-container {
    width: 25%;
    background: $profile-sidebar-light-bg;
}

.private-profile-sidebar-cat-head {
    color: #6a7480;
    font-size: 12px;
    text-transform: uppercase;
}

.private-profile-sidebar-cat-content {
    color: #2e3338;
    font-size: 16px;
}
.private-profile-sidebar-cat-content:hover {
    cursor: pointer;
    color: #6a7480;
}

.content-active {
    color: $blue-purple-two;
    font-weight: 900;
}
.content-active:hover {
    cursor: default;
    color: $blue-purple-two;
}

.chat-preview-photo {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.profile-preview-photo {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.appearance-bg {
    background: $profile-sidebar-light-bg;
}

.appearance-font-color-red {
    color: $red;
}
.appearance-font-color-blue {
    color: $blue;
}
.appearance-font-color-green {
    color: $green;
}
.appearance-font-color-orange {
    color: $orange;
}
.appearance-font-color-pink {
    color: $pink;
}
.appearance-font-color-purple {
    color: $purple;
}
.appearance-font-color-white {
    color: $main-white;
}
.appearance-font-color-black {
    color: $black;
}
.appearance-font-color-spacegray {
    color: $space-gray;
}
.appearance-font-color-graydolphin {
    color: $gray-dolphin;
}

.appearance-profile-color-red {
    border: 2px solid $red;
    background: $red;
}
.appearance-profile-color-blue {
    border: 2px solid $blue;
    background: $blue;
}
.appearance-profile-color-green {
    border: 2px solid $green;
    background: $green;
}
.appearance-profile-color-orange {
    border: 2px solid $orange;
    background: $orange;
}
.appearance-profile-color-pink {
    border: 2px solid $pink;
    background: $pink;
}
.appearance-profile-color-purple {
    border: 2px solid $purple;
    background: $purple;
}

.privacy-content-bg {
    background: $profile-sidebar-light-bg;
}
.privacy-content-bg:hover {
    cursor: pointer;
}

.privacy-circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #333;
}
.privacy-circle-active {
    background: $blue;
}

.privacy-icon {
    height: 24px;
    width: 24px;
}

// profile preview

.private-profile-preview-head-item-2 {
    max-width: 50%;
}

.private-profile-preview-social-links-red:hover {
    text-decoration: none;
    color: $red;
    img {
        border: 2px solid $red;
        border-radius: 50%;
    }
}
.private-profile-preview-social-links-blue:hover {
    text-decoration: none;
    color: $blue;
    img {
        border: 2px solid $blue;
        border-radius: 50%;
    }
}
.private-profile-preview-social-links-green:hover {
    text-decoration: none;
    color: $green;
    img {
        border: 2px solid $green;
        border-radius: 50%;
    }
}
.private-profile-preview-social-links-orange:hover {
    text-decoration: none;
    color: $orange;
    img {
        border: 2px solid $orange;
        border-radius: 50%;
    }
}
.private-profile-preview-social-links-pink:hover {
    text-decoration: none;
    color: $pink;
    img {
        border: 2px solid $pink;
        border-radius: 50%;
    }
}
.private-profile-preview-social-links-purple:hover {
    text-decoration: none;
    color: $purple;
    img {
        border: 2px solid $purple;
        border-radius: 50%;
    }
}

// profile image

.profile-img-container {
    position: relative;
    height: 293px;
    width: 293px;
}

.profile-img {
    height: 293px;
    width: 293px;
    object-fit: cover;
    object-position: center;
}

.profile-img-comment-icon {
    position: absolute;
    top: 5px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
    overflow: hidden;
    z-index: 2;
}

.profile-img-overlay {
    height: 293px;
    width: 293px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
}

.profile-img-container:hover {
    cursor: pointer;
    .profile-img-comment-icon {
        transition: 0.3s;
        display: block;
    }
    .profile-img-overlay {
        transition: 0.3s;
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .private-profile-main-container {
        height: 100%;
    }

    .private-profile-sidebar-container {
        width: 100%;
    }

    .private-profile-sidebar-divider {
        display: none;
    }

    .private-profile-preview-social-links-container {
        a {
            span {
                display: none;
            }
        }
    }
}
