.banner-photo {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.banner-squad-name {
    font-size: 54px;
}

.banner-font-corinthia {
    font-family: "Corinthia", cursive;
}
.banner-font-major {
    font-family: "Major Mono Display", monospace;
}
.banner-font-smooch {
    font-family: "Smooch", cursive;
}
.banner-font-vt323 {
    font-family: "VT323", monospace;
}
