.squad-invites-container {
    position: relative;
}

.pending-squad-invite-notification-bubble {
    position: absolute;
    background: $green;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: 1px solid $main-blue;
    top: 0px;
    right: 3px;
}

.squad-card {
    width: 18rem;
    height: 27rem;
    box-shadow: 0 5px 10px rgba(79, 82, 177, 0.35);
}
.squad-card:hover {
    border: 1px solid $main-blue;
    transition: 0.5s;
    box-shadow: none;
}
.squad-card a {
    color: $black;
    text-decoration: none;
}
