.squad-invites-container {
    position: relative;
}

.pending-squad-invite-notification-bubble {
    position: absolute;
    background: $green;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: 1px solid $main-blue;
    top: 0px;
    right: 3px;
}
