// Body
// light
//$body-bg: #f8fafc;
$body-bg: #faf9f8;

// dark
//$body-bg: #2f3136;
//$body-bg: #36393f;

// Typography
//$font-family-sans-serif: 'Nunito', sans-serif;
//$font-family-sans-serif: "Roboto", sans-serif;
$font-family-sans-serif: "Manrope", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #5741d9;
$pink: #f66d9b;
//$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$main-blue: #4d89ff;
$main-white: #ffffff;
$blue-purple: #5409c8;
$dark-blue: #0d0c52;
$salmon: #ff8b8b;
$tan: #feb58d;
$red: #ed4245;
$test: #4752c4;
$blue-purple-two: #3752c4;
$dark-theme: #2f3136;
$profile-sidebar-light-bg: #f4f5f7;
