.light-divider {
    background: #eeecfb;
    width: 100%;
    height: 1px;
}

.medium-divider {
    //background: #dddee4;
    width: 100%;
    height: 1px;
}

.private-profile-sidebar-divider {
    background: #dddee4;
    width: 50%;
    height: 1px;
}
