.main-blue {
    color: $main-blue;
}

.help-link {
    img {
        background: $main-blue;
        border-radius: 50%;
        height: 18px;
        width: 18px;
    }
}
.help-link:hover {
    cursor: pointer;
}

.eye-text {
    position: relative;

    img {
        position: absolute;
        right: 15px;
        top: 2px;
    }
    img:hover {
        cursor: pointer;
    }
}

.tooltip-arrow {
    position: relative;

    img {
        position: absolute;
        left: 90px;
        top: -5px;
        height: 32px;
        width: 32px;
    }
}

form {
    input {
        outline: none !important;
        border: none !important;
        border-bottom: 1px solid $main-blue !important;
    }

    select {
        border: 1px solid $main-blue !important;
    }

    textarea {
        border: 1px solid $main-blue !important;
    }

    a {
        text-decoration: none !important;
    }
}

@media only screen and (max-width: 600px) {
    .eye-text img {
        height: 24px;
        width: 24px;
        top: 8px;
    }
}
