.account-modal {
    input {
        outline: none !important;
        border: none !important;
        border-bottom: 1px solid $main-blue !important;
    }
}

.delete-account-modal-btn {
    background: $red !important;
    color: $main-white !important;
}

.update-account-modal-btn {
    background: $main-blue !important;
    color: $main-white !important;
}

.image-comment-container {
    overflow: scroll;
    max-height: 293px;
}

.image-comment-photo:hover {
    cursor: pointer;
}

.send-squad-invite-squad:hover {
    cursor: pointer;
    color: $main-blue;
    background-color: $main-white;
}
