nav {
    background: #fff;

    .logo {
        height: 40px;
        width: 40px;
    }

    .search-img {
        height: 14px;
        width: 14px;
    }

    .dropdown-item:hover {
        color: #757575 !important;
        background: none !important;
    }

    .dropdown-item.active,
    .dropdown-item:active {
        color: #757575 !important;
        background-color: none !important;
        text-decoration: underline #757575 !important;
    }

    .dropdown-item:focus {
        color: #757575 !important;
    }

    .dropdown-item {
        background: none !important;
    }

    .inbox-container {
        position: relative;
    }

    .inbox-notification-bubble {
        position: absolute;
        background: $green;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        border: 1px solid #fff;
        top: 7px;
        left: 21px;
    }
}

.main-header {
    margin-top: 7rem !important;
}

@media only screen and (max-width: 995px) {
    nav {
        .search-img {
            display: none;
        }
    }
}
