nav {
    background: #fff;

    .logo {
        height: 40px;
        width: 40px;
    }

    .search-img {
        height: 16px;
        width: 16px;
    }

    .dropdown-item:hover {
        color: #757575 !important;
        background: none !important;
    }

    .dropdown-item.active,
    .dropdown-item:active {
        color: #757575 !important;
        background-color: none !important;
        text-decoration: underline #757575 !important;
    }

    .dropdown-item:focus {
        color: #757575 !important;
    }

    .dropdown-item {
        background: none !important;
    }
}

.main-header {
    margin-top: 7rem !important;
}

@media only screen and (max-width: 995px) {
    nav {
        .search-img {
            display: none;
        }
    }
}
